<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="css/home.css" type="text/css" />

<main>
    <h1>My Log</h1>
    <section class="selection-menu">
        <a href="/pays">Pays (Total : <%- credTotal %> )</a>
        <a href="/takes">Takes (Total : <%- debtTotal %> )</a>
        <form action="/person" class="person" method="get" autocomplete="off">
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                list="names"
                autocomplete="off"
            />

            <!-- change the suggestion list style 
            reference : https://codepen.io/Coding-Artist/pen/dyZXPOZ -->

            <div class="suggestions">
                <% for(let name of names) { %>
                <div class="suggestion">
                    <p data-value="<%- name %>"><%- name %></p>
                </div>
                <% } %>
            </div>
            <button>Submit</button>
        </form>
    </section>
</main>

<script>
    function setEvent() {
        let suggestions = Array.from(
            document.querySelectorAll(".suggestion p")
        );
        suggestions.forEach((suggestion) => {
            suggestion.addEventListener("click", (e) => {
                console.log(suggestion.dataset.value);
                nameInp.value = suggestion.dataset.value;
            });
        });
    }

    setEvent();

    let nameInp = document.getElementById("name");
    const names = "<%- names%>".split(",");
    const suggestionsDiv = document.querySelector(".suggestions");

    function escapeRegex(text) {
        return text.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&");
    }

    nameInp.addEventListener("input", (e) => {
        let regex = new RegExp(escapeRegex(nameInp.value), "gi");

        let innerHtml = "";
        for (let name of names) {
            if (name.match(regex)) {
                innerHtml += `<div class="suggestion"><p data-value="${name}">${name}</p></div>`;
            }
        }

        suggestionsDiv.innerHTML = innerHtml;

        setEvent();
    });
</script>
