<% layout('./layouts/boilerplate.ejs') %>
<link rel="stylesheet" href="css/home.css" type="text/css" />

<main>
    <h1>
        My Balance <br />
        <span>
            (<%- credTotal > debtTotal ? 'Pay' : 'Take' %> : <%- credTotal >
            debtTotal ? credTotal - debtTotal : debtTotal - credTotal %>)
        </span>
    </h1>
    <section class="selection-menu">
        <a href="/pays">Pays (Total : <%- credTotal %> )</a>
        <a href="/takes">Takes (Total : <%- debtTotal %> )</a>
        <form action="/person" class="person" method="get" autocomplete="off">
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Name"
                autocomplete="off"
            />
            <span class="suggestion"></span>
            <!-- reference : https://codepen.io/Coding-Artist/pen/dyZXPOZ  -->

            <button>Submit</button>
        </form>
    </section>
</main>

<script>
    const names = "<%- names%>".split(",");
</script>
<script src="/js/home.js"></script>
